/* @import url('https://fonts.googleapis.com/css2?family=Jua&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

.recipe_image {
  width: 30%;
  max-width: 30rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.recipe_card_content {
  margin-left: 2rem;
  width: 100%;
}

.recipe_card_heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 4px solid #48B2FF;
}

.recipe_card_title {
  margin-top: 0;
  font-family: 'Jua';
}

.recipe_card_description {
  font-weight: 200;
}

.recipe_card_details {
  display: flex;
  flex-wrap: wrap;
}

.recipe_card_subtitle {
  color: #48B2FF;
  font-family: 'Jua';
  margin-top: 0;
}

.recipe_card_ingredients {
  margin-right: 1rem;
}

.recipe_card_ingredients_list {
  width: fit-content;
  list-style-type: none;
  padding-left: 0;

  & li {
    margin-bottom: 1rem;
    display: flex;
  }
}

.recipe_card_ingredient_measures {
  width: 30%;
  margin-right: 1rem;
}

.recipe_card_ingredient_name {
  text-align: left;
  width: 70%;
}

.recipe_card_instructions {
  max-width: 20rem;
}

.recipe_card_instructions_list {
  padding-left: 1rem;

  & li {
    margin-bottom: 0.5rem;
  }
}